<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" href="/code.png" type="image/x-icon" />
  </head>
  <body>
    <img src="/code.png" alt="logo" />
    <h2>Welcome to Collaborative Code Review</h2>
    <p>Your best Collaborative code review at your fingertips</p>
    <script src="/js/index.js"></script>
  </body>
</html>
